<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.muser.chen.dao.UserDao">

    <select id="getUserList"  resultType="cn.muser.chen.entry.TUser">
        select * from

        (select t.*, 1 as regWays from t_user t where t.id = t.create_by
        union
        select t.*, 0 as regWays from t_user t where t.id != t.create_by) t
        <!-- 当有if条件成立时，where会自动拼接查询条件，并处理第一个and -->
        <include refid="where" />
        ${map.sort}
    </select>


    <sql id="where">
        <where>
            <!-- 动态拼接sql查询条件 -->
            <if test="map.mobile != null and map.mobile != ''">
                 t.mobile like "%"#{map.mobile}"%"
            </if>
            <if test="map.status != null and map.status != ''">
                and t.status = #{map.status }
            </if>
            <if test="map.nickname != null and map.nickname != ''">
                and t.nickname like "%"#{map.nickname}"%"
            </if>
        </where>
    </sql>
</mapper>